@CHARSET "ISO-8859-1";
.bt-des
{
	margin-left:500px;
}
.a
{
	width :160px;
	height:35px;
	border-radius:20px;
}
.b
{
	width :160px;
	height:35px;
	border-radius:20px;
}
.c
{
	width :160px;
	height:35px;
	border-radius:20px;
}
.d
{
	width :160px;
	height:35px;
	border-radius:20px;
}
.e
{
	width :160px;
	height:35px;
	border-radius:20px;
}
.f
{
	width :160px;
	height:35px;
	border-radius:20px;
}
.g
{
	width :160px;
	height:35px;
	border-radius:20px;
}